body{
    font-family: Arial, sans-serif;
    background-color: #aaaaac;
    color: #24292d;
}
.name-h1{
    color: #379fec;
    letter-spacing: 0.3cm;
}
.name{
    padding: 0px 25px;
}


.columns{
    display: flex;
    width: 1280px;
    justify-content:center;
    margin: auto;
    background-color: #fff;
}

.column1{
    display: block;
    width: 400px;
    padding-left: 10px;
    padding-top: 10px;
}
.pic{
    background-color: #044278;
}
.phone-number{
    background-color: #044278;
    color: #fff;
    display: flex;
    padding: 10px;
    margin: 0px;
    height: 35px;
}
.phone-num{
    color: #fff;
    margin-left: 20px;
    margin-top: 6px;
}
.a-item{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.phone-pic{
    padding-left: 30px;
}
.site-link{
    background-color: #1565ab;
    padding: 10px;
    display: flex;
    height: 35px;
}
.email-container{
    background-color: #44a1e8;
    padding: 10px;
    display: flex;
    height: 35px;
}


.column2{
    width: 880px;
    
}

.text{
    padding: 0px 25px;
    font-size: 14px;
}
.section{
    background-color: #e1e1e3;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
}
.lead{
    display: flex;
    padding: 10px 25px;
    font-size: 14px;
}
.lead-tit{
    width: 30%;
}
.lead-text{
    width: 70%;
}
.h-tit{
    padding: 0px;
    padding-bottom: 10px;
    font-weight: bold;
}
.text1{
    line-height: 1.3;
}
.text-title{
    padding-bottom: 10px;
}
.text{
    line-height: 1.3;
}
.information{
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 15px;
}
.colum1{
    width: 30%;
    padding: 0px 10px;
}
.colum2{
    width: 30%;
}
.colum3{
    width: 40%;
    text-align: left;
}
.col1-inf{
    background-color: #e1e1e3;
    padding-top: 20px;
}
.border{
    display: flex;

}
.bord-text{
    width: 50%;
    line-height: 1.7;
}
.information-border{
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 25px;
}
.only-border{
    display: flex;
    width: 50%;
    padding-bottom: 7px;
}
.bord1-com{
    width: 90%;
    border-bottom: 7px solid #379fec;
}
.bord2-com{
    width: 10%;
    border-bottom: 7px solid #aaaaac; 
}
.bord1-creat{
    width: 80%;
    border-bottom: 7px solid #379fec;
}
.bord2-creat{
    width: 20%;
    border-bottom: 7px solid #aaaaac; 
}

.bord1-tm{
    width: 65%;
    border-bottom: 7px solid #379fec;
}
.bord2-tm{
    width: 35%;
    border-bottom: 7px solid #aaaaac; 
}

.bord1-org{
    width: 55%;
    border-bottom: 7px solid #379fec;
}
.bord2-org{
    width: 45%;
    border-bottom: 7px solid #aaaaac; 
}

.bord1-ld{
    width: 50%;
    border-bottom: 7px solid #379fec;
}
.bord2-ld{
    width: 50%;
    border-bottom: 7px solid #aaaaac; 
}

.bord1-tp{
    width: 45%;
    border-bottom: 7px solid #379fec;
}
.bord2-tp{
    width: 55%;
    border-bottom: 7px solid #aaaaac; 
}
.footer{
    padding-left: 25px;
}
.foot-name{
    font-weight: bold;
    font-size: 14px;
}
.foot-text{
    font-size: 14px;
    line-height: 2;
}
.footer2{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding: 10px 0px;
}
.music{
    text-align: center;
}